/* *************** CSS For Main Page ************* */

* {
    font-family: 'Overpass', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-of-both-pages {
    /* height: 416px;*/
    height: 70vh;

    display: flex;
    flex-direction: column;
    background-color: #181E27;
    width: 30%;
    border-radius: 30px;
    margin: 35px auto;
}

.icon-div {
    display: flex;
    justify-content: center;
    background-color: #262E38;
    color: #FC7614;
    width: 14%;
    border-radius: 50%;
    height: 8vh;
    margin-top: 30px;
    margin-left: 26px;
}

img {
    margin-top: 18px;
    margin-left: 15px;
}

.h2-p-elements {
    margin-left: 26px;
}

h2 {
    color: #FFFFFF;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    color: rgb(153, 159, 164);
    font-size: 15px;
}

.rating-button-together {
    margin-left: 26px;
}

.rating-button {
    background-color: #262E38;
    color: #7C8798;
    width: 14%;
    border-radius: 50%;
    height: 8vh;
    margin-right: 10px;
    border: none;
    margin-top: 20px;
}

.rating-button:hover {
    background-color: #FC7614;
    color: #FFFFFF;
    cursor: pointer;
}

.submit-button {
    margin-top: 30px;
    margin-left: 26px;
    font-size: larger;
    background-color: #FC7614;
    color: aliceblue;
    width: 82%;
    height: 8vh;
    border-radius: 4vh;
    border: none;
}

.submit-button:hover {
    background-color: #FFFFFF;
    color: #FC7614;
    cursor: pointer;
}

/* *************** CSS For Thank You Page ************* */

.icon-p-elements-together {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.thank-you-icon {
    width: 45%;
    height: 108px;
    margin-top: 45px;
    margin-bottom: 25px;
}

.thank-you-h2-p-elements {
    text-align: center;
    margin: 26px;
}

.thank-you-h2-elements {
    margin-bottom: 13px;
}

.thank-you-page-p-element {
    background-color: #262E38;
    color: #FC7614;
    width: 60%;
    height: 33px;
    line-height: 33px;
    border-radius: 22px;
    text-align: center;
}